.menu-container {
  display: flex;
}

.selection-menu {
  display: flex;
  flex-direction: column;
  width: 25px; /* Adjust the width as needed */
  border-right: 1px solid #ccc;
}

.selection-menu button {
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.selection-menu button:hover {
  background-color: #f0f0f0;
}

.content-container {
  flex-grow: 1;
  padding: 0;
}

.logo {
  width: 60px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 10px;
}

.inner {
  display: flex;
  align-items: flex-start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure space between logo and logout button */
  padding: 10px;
  background-color: lightblue;
  border-bottom: 1px solid #ccc;
}

.logout-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}
