.content-container {
  flex-grow: 1;
  padding: 0;
}

.logo {
  width: 60px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 10px;
  align-items: flex-start;
}

.inner {
  display: flex;
  align-items: flex-start;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* Ensure space between logo and logout button */
  padding: 10px;
  background-color: lightblue;
  border-bottom: 1px solid #ccc;
}
