.refresh-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  background-image: var(--refresh-icon);
}

.refresh-button:hover {
  transform: rotate(90deg);
}

[data-jp-theme-light='true'] {
  --refresh-icon: url('../assets/tree/icon-refresh-black.svg');
}

[data-jp-theme-light='false'] .refresh-button {
  --refresh-icon: url('../assets/tree/icon-refresh-white.svg');
}
