.catalog-tree-container {
  position: relative; /* Ensure the container is the reference for absolute positioning */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.expand-all-button {
  position: absolute; /* Position the button absolutely within the container */
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  background-color: transparent;
  flex-direction: column;
  border: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  background-image: url('../assets/icons/tree/icon-expand-black.svg');
}

.expand-all-button-rotate {
  transform: rotate(-90deg);
}

.catalog-header {
  display: block; /* Ensure the header is a block element */
  margin-bottom: 3px; /* Add space below the header */
}

.catalog-list {
  display: block; /* Ensure the catalog list is a block element */
}

ul {
  list-style-type: none; /* Remove default bullet points */
  margin: 0;
  padding-left: 10px; /* Indent child layers compared to parent */
}

li {
  margin: 0;
  padding: 3px 0; /* Reduce padding between layers */
}

.table-name {
  position: relative;
  padding-right: 30px;
  display: block; /* Change to block to stack elements vertically */
  align-items: flex-start; /* Align items to the start */
  padding-bottom: 1px; /* Add a small space at the bottom */
  padding-top: 2px; /* Add more space between tables */
}

.catalog-name {
  display: block;
}

.grey-font {
  color: grey;
}

.small-font {
  font-size: 10px; /* Adjust the font size as needed */
}

.margin-left {
  margin-left: 6px; /* Adjust the value to increase the space */
}

.column-name {
  display: block;
  padding-left: 0; /* Indent column names */
}

.jp-icon-expand {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/tree/icon-expand-black.svg');
  transition: transform 0.5s ease; /* Smooth rotation */
}

.jp-icon-rotate {
  transform: rotate(-90deg);
}

.jp-icon-catalog {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/tree/icon-catalog-black.svg');
  margin-left: 1px; /* Adjust this value to shift the icon to the right */
  margin-bottom: 3px; /* Add space below catalog names */
  vertical-align: middle; /* Align icon vertically in the middle */
}

.jp-icon-schema {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/tree/icon-schema-black.svg');
  margin-left: 2px; /* Adjust this value to shift the icon to the right */
  margin-bottom: 3px; /* Add space below schema names */
  vertical-align: middle; /* Align icon vertically in the middle */
}

.jp-icon-schema-explorer {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/tree/icon-schema-black.svg');
  margin-left: 2px; /* Adjust this value to shift the icon to the right */
  margin-right: 4px;
  margin-bottom: 3px; /* Add space below schema names */
  vertical-align: middle; /* Align icon vertically in the middle */
}

.jp-icon-table {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/tree/icon-table-black.svg');
  margin-left: 2px; /* Adjust this value to shift the icon to the right */
  margin-right: 2px;
  vertical-align: middle; /* Align icon vertically in the middle */
}

.jp-icon-insert {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/tree/icon-insert-black.svg');
  opacity: 0; /* Make the icon invisible */
  transition: opacity 0.3s ease; /* Smooth transition */
  cursor: pointer;
  position: absolute; /* Position the icon absolutely */
  right: 10px; /* Adjust this value to stick the icon to the right corner */
  vertical-align: middle; /* Align icon vertically in the middle */
}

.jp-icon-insert:hover {
  opacity: 1; /* Make the icon visible on hover */
}

/* stylelint-disable-next-line no-descending-specificity */

.column-name > div:hover > .jp-icon-insert,
.table-name > div:hover > .jp-icon-insert,
.schema-name > div:hover > .jp-icon-insert,
.catalog-name > div:hover > .jp-icon-insert {
  opacity: 1; /* Make the insert button visible on hover */
}

.jp-icon-explore {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/tree/icon-magnify-black.svg');
  opacity: 0; /* Make the icon invisible */
  transition: opacity 0.3s ease; /* Smooth transition */
  cursor: pointer;
  position: absolute; /* Position the icon absolutely */
  right: 30px; /* Adjust this value to stick the icon to the right corner */
  vertical-align: middle; /* Align icon vertically in the middle */
}

.table-name > div:hover > .jp-icon-explore,
.schema-name > div:hover > .jp-icon-explore,
.catalog-name > div:hover > .jp-icon-explore {
  opacity: 1; /* Make the explore button visible on hover */
}
